.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* ks: for fixed top navbar */
body { 
  padding-top: 70px; 
}
/* ks: for fixed bottom navbar */
body { 
  padding-bottom: 70px; 
}
/* ks: Set default p marging to fix some vendor changes */
p {
    margin: 14px 0;
}
/* ks: Teonet label red color and font sizze 90% */
.teonet-red {
  color: rgb(181, 46, 49);
}
.teonet-sm {
  font-size: 90%;  
}
/* ks: full screen container */
.container {
    margin: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
/*  padding-top: 19px;*/ /* ks: for fixed bottom navbar */
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/ /* ks: fix container size */
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
/*    margin-bottom: 30px;*/ /* ks: fix it */
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Circle button */
.btn-circle         { width: 30px;height: 30px;text-align: center; vertical-align: middle; padding: 6px 5px; font-size: 14px; line-height: 1.428571429; border-radius: 15px; }
.btn-circle.btn-xs  {
width: 20px;
    height: 20px;
    padding: 3px 0 3px 1px;
    font-size: 69%;
    outline: 0;
/* width: 20px;height: 20px;text-align: center; padding: 3px 0; font-size: 75%; line-height: 1.428571429; border-radius: 15px; outline: none; */
}
.btn-circle.btn-lg  { width: 50px;height: 50px;padding: 10px 16px; font-size: 18px; line-height:1.33; border-radius: 25px; }
