<p>This is the ajax-db view.</p>
<hr>

<div>
    <div class="form-group">
        <label class="control-label" for="peer-input">Peer</label>
        <input class="form-control" type="text" name="peer-input" id="text-input" ng-model="req.peer">
    </div>    
    <div class="form-group">
        <label class="control-label" for="cmd-input">Command</label>
        <input class="form-control" type="text" name="cmd-input" id="text-input" ng-model="req.cmd">
    </div>
    <div class="form-group">
        <label class="control-label" for="data-input">Data</label>
        <input class="form-control" type="text" name="data-input" id="text-input" ng-model="req.data">
    </div>
    <div class="form-group">
        <button ng-click="doClick(req, item, $event)">Send AJAX Request</button>
    </div>

    <hr>
    Request: {{ req }} <br>
    Data from server: {{ res.data }}
</div>

