<p class="text-muted">
    This table contain peers connected to this application.
    The TripTime columns show trip time in millisecond from this application.
</p>
<hr>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Peer</th>
                <th>Type</th>
                <th>Version</th>
                <th class="text-right">M</th>
                <th>Address</th>                
                <th>Status</th>
                <th class="text-right">Control</th>
                <th class="text-right">Connected (sec)</th>
                <th class="text-right">TripTime (ms)</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in peersItems">
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.appType }}</td>
                <td>{{ item.appVersion }} / {{ item.version }}</td>
                <td class="text-right">{{ item.mode }}</td>
                <td>{{ item.arp.ip + ':' + item.arp.port }}</td>
                <td><peer-status />></td>
                <td class="text-right"><peer-control /></td>
                <td class="text-right">{{ item.mode !== -1 ? ((item.currentTime - item.arp.connectedTime) | number : 3) : '' }}</td>
                <td class="text-right">{{ item.mode !== -1 ? ((item.arp.tripTimeLast | number : 3) + ' / ' + (item.arp.tripTime | number : 3)) : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
