<p>This is the Teonet RestAPI test view.</p>
<hr>

<div>
  <form novalidate class="bootstrap-form-with-validation">
    <div class="form-group">
        <label class="control-label" for="peer-input">Peer</label>
        <input class="form-control" type="text" name="peer-input" id="text-input" ng-model="selectedPeer">
    </div>    
    <div class="form-group">
        <label class="control-label" for="cmd-input">Command</label>
        <input class="form-control" type="text" name="cmd-input" id="text-input" ng-model="req.cmd">
    </div>
    <div class="form-group">
        <label class="control-label" for="data-input">Data</label>
        <input class="form-control" type="text" name="data-input" id="text-input" ng-model="req.data">
    </div>
    <div class="form-group">
        <button type="submit" ng-click="doClick(req, selectedPeer, item, $event)">Send RestAPI Request</button>
    </div>

    <hr>
    Request: {{ req }} <br>
    Data from server: {{ res.data }} <br>
    <br>
  </form>
</div>

