<div ng-controller="TeoDbCtrl as teoDb">

    <div class="row">
      <div class="col-xs-6">
        <peer-select type="teo-db" exec="exec(name)" />
      </div>

      <div class="col-xs-6 text-right">
        Total records: {{ listLen }}
      </div>
    </div>

    <hr>

    <table datatable="ng" class="row-border hover">
      <thead>
        <tr>
            <th>#</th>
            <th>Key</th>
            <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in data">
            <td>{{ $index + 1 }}</td>
            <td>{{ item.key }}</td>
            <td>{{ item.value }}</td>
        </tr>
      </tbody>
    </table>

</div>
